<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Himanin Careers</title>
    <style>
      h1 {
        font-size: 50px;color: rgb(100, 100, 100);text-align: center;
      }
      #banner {
        width: 100%;height: 360px;object-fit: cover;
      }
      h2 {
        font-family: Roboto;font-size: 32px;color:rgb(100, 100, 100);
        text-align: center;font-weight: normal; }
      P{font-family: Roboto;color:rgb(80, 80, 80);}
      #container {max-width: 720px;margin:0 auto;}

      .bodytext {
        font-family:Roboto;color: rgb(80, 80, 80);
      }
    </style>
  </head>
  <body>
    <div id="container">
    <h1>HI-MENIN Careers </h1>
    <img id="banner" src="../static/camaro.png" />
    <h2>About Hi-Menin</h2>
    <p class="bodytext"> As the hype around AI has accelerated, vendors have been scrambling to promote how their products and services use it. Often, what they refer to as AI is simply a component of the technology, such as machine learning. AI requires a foundation of specialized hardware and software for writing and training machine learning algorithms. No single programming language is synonymous with AI, but Python, R, Java, C++ and Julia have features popular with AI developers.

    <h2>Open Positions</h2>
    <p class="bodytext">TODO- show the jobs here</p>
    <div style="text-align:center;">
      <button >CONTACT US</button>
      <p>Copyright 2024, HI-MENIN</p>
    </div>
      
    </div>
  </body>
</html>